{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },

  "extends": [
    "airbnb",
    "plugin:flowtype/recommended"
  ],

  "rules": {
    "react/default-props-match-prop-types": ["off"],
    "react/prop-types": ["off"],
    "react/require-default-props": ["off"],
  },

  "plugins": [
    "flowtype"
  ]
}
